/* Parallax Container */
.parallax-container {
	position: relative;
	height: 100vh;
	/* Set height as needed */
	overflow: hidden;
}

/* Background Image */
.parallax-background {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	/* Extend height for the parallax effect */
	transform: translateY(0);
	z-index: -1;
}

/* Overlay Content */
.overlay-content {
	position: sticky;
	top: 30vh;
	padding: 40px;
	background: var(--background-color);
	margin: auto;
	z-index: 1;
	opacity: 0;
	transform: translateY(100px);
	transition: transform 1s ease, opacity 1.2s ease;
	width: 90%;
	/* left: 170px; */
	border-radius: 25px;
	border: solid 2px rgba(125, 125, 255, .9);
	/* box-shadow: 0 0 8px 0px rgb(50, 50, 255); */
}

#overlay-content-0:init{
	opacity: 1;
}

/* Member Section */
.member {
	display: flex;
	align-items: center;
	width: 100%;
}

/* Container for the h1 and h3 elements */
.title {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 10px;
}

/* Reset margins for headings */
.title h1{
	font-size: clamp();
	margin: 0;
}

/* Member Image */
.member img {
	width: 14vw;
	max-width: 200px;
	margin-right: 20px;
}

/* Member Text */
.member-text {
	background-color: rgb(26 26 26);
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: clamp(0.5rem, 1vw, 1rem);
	border-radius: 10px;
}

.divider {
	/* background-color: white; */
	height: 30px;
	width: 100%;
}