.dropdown-container {
    text-align: center;
    margin: 60px auto;
}

.slot-machine-container {
    display: inline-block;
    position: relative;
    margin: 20px auto;
}

#team-dropdown {
    width: 1400px;
    padding: 10px;
    font-size: 16px;
    color: var(--text-subtle);
    background-color: var(--button-bg);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#team-dropdown:hover {
    background-color: var(--button-hover);
    color: var(--text-light);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-light);
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.table-container {
    margin-top: 40px; 
    position: relative;
    /* overflow: hidden; */
}

.table-container h2 {
    margin-bottom: 50px; 
    margin-top: 0; 
    font-size: 28px; 
    color: var(--text-light); 
    text-align: center; /* corresponds to Predictions for ___ text */
}

.dropdown-container {
    margin-top: 60px; 
    position: relative;
    overflow: hidden;
}
.dropdown-container h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: var(--text-light);
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--accent-color), var(--highlight-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-container label {
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--text-light);
    margin-bottom: 10px;
}

.slot-machine-container {
    text-align: center;
    margin-bottom: 20px;
}

#team-dropdown {
    width: 100%; 
    max-width: 400px; 
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background-color: var(--secondary-dark);
    color: var(--text-light);
    outline: none;
    transition: all 0.3s ease-in-out;
    text-align: left;
}

#team-dropdown option {
    text-align: left;
    padding-left: 200px;
}

#team-dropdown:hover,
#team-dropdown:focus {
    border-color: var(--accent-color);
    background-color: var(--primary-dark);
}

#fetch-predictions {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-light);
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

#fetch-predictions:hover {
    background-color: var(--highlight-color);
    transform: scale(1.05);
}

#prediction-table {
    margin-top: 40px;
}
