/************* GLOBAL VARIABLES ***************/
:root {
	/* Base Colors */
	--pDarkGreen: #0E1B05;
	--pDarkBlue: #3540CA;
	--pLightBlue: #cff8fd;
	--pYellow: #F2E16C;

	/* Complementary Colors */
	--coral: #FF6F61;
	/* Coral */
	--peach: #FFDAB9;
	/* Peach */

	/* Analogous Colors */
	--light-purple: #D1C4E9;
	/* Light Purple */
	--lavender: #E6E6FA;
	/* Lavender */

	/* Triadic Colors */
	--triadic-yellow: #FFD700;
	/* Yellow */
	--triadic-green: #3CB371;
	/* Green */

	/* Dark Mode Colors */
	--dark-background: #121212;
	--dark-foreground: #FFFFFF;
	--dark-accent: #BB86FC;
	--dark-primary: #03DAC6;

	/* Fonts */
	--font-heading-family: 'brother-1816', sans-serif;
	--font-body-family: sans-serif;

	--ease2: cubic-bezier(0.64, 0.11, 0.1, 1.015);
}

/************ GLOBAL STYLING *****************/
body {
	background-color: #e5e5e5;
}

body * {
	/*	animation: fall-in 0.75s ease; */
}


/* Apply the fade-out animation to all elements with a specific class */
body.fade-out * {
	animation: fade-out 0.5s ease-in-out;
}

/************ GENERAL ANIMATIONS *************/


@keyframes active-glow {

	0%,
	100% {
		box-shadow: 10px 0 10px #00ff00, 15px 0 15px #00ff00,
			inset -4px 0 4px #00ff00, inset 100px 0 10px var(--pLightBlue);
	}

	50% {
		box-shadow: 3px 0 3px #00ff00, 5px 0 8px #00ff00,
			inset -1px 0 1px #00ff00, inset 1px 0 1px var(--pLightBlue);
	}
}


@keyframes glow-full {

	0%,
	100% {
		box-shadow: 0px 0 3px #00ff00, 0px 0 8px #00ff00,
			inset 0px 0 1px #00ff00;
	}

	50% {
		box-shadow: 0px 0 25px #00ff00, 0px 0 30px #00ff00,
			inset 0px 0 5px #00ff00;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

/* Keyframes for the falling effect */
@keyframes fall-in {
	from {
		opacity: 0;
		transform: translateY(-5px);
		/* Start above the original position */
	}

	to {
		opacity: 1;
		transform: translateY(0);
		/* End at the original position */
	}
}

/* Define keyframes for the fade-out effect */
@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}


/************* BASIC HTML RESET ***************/

* {
	margin: 0;
	/* Set HTML viewport to the edges of the screen */
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'bilo', sans-serif;
}

/************ GENERAL ASSEST STYLING *********/

/* Disables scrolling when applied to the body and html */
.no-scroll {
	overflow: hidden;
	height: 100%;
	/* Ensure body takes full height */
}

.first-letter-uppercase::first-letter {
	text-transform: uppercase;
}

.responsive-break {
	display: inline;
}

.responsive-break {
	display: inline;
}

@media(max-width: 600px) {
	.responsive-break {
		display: block;
	}

}

.hr-with-text {
	width: 99%;
	display: flex;
	align-items: center;
	text-align: center;
}

.drop-down {
	font-size: 14px;
	background-color: var(--lavender);
	border: 1px solid black;
	border-radius: 5px;
	height: 30px;
	width: fit-content;
	margin: 5px 0 5px 5px;
}

.hr-with-text::before,
.hr-with-text::after {
	content: '';
	flex: 1;
	margin: 20px 0;
	height: 1.5px;
	background-color: var(--dark-primary);
	border: 1px solid black;
}

.hr-with-text::before {
	margin-right: 10px;
}

.hr-with-text::after {
	margin-left: 10px;
}

/************* NAV BAR STYLING ***************/

#top-spacing {
	height: 65px;
}

.nav {
	display: flex;
	/* Magical flex-box. I still dont know wtf this thing is */
	background-color: var(--pLightBlue);
	justify-content: space-between;
	/* Justify is for HORIZONTAL ALIGNMENT */
	align-items: center;
	/* Align is for VERTICAL ALIGNMENT */
	height: 65px;
	width: 100%;
	/* Stretches the bar to both ends of the screen */
	position: fixed;
	/* Lock the nav bar at its current position of the viewport */
	top: 0;
	/* Lock the nav bar at the top of the viewport */
	left: 0;
	/* Lock the nav bar at the left  of the viewport */
	padding: 0 20px;
	/* Adds padding of 20px on the left and right for spacing within the container */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	/* Adds a subtle shadow for visual separation from content */
	/*transition: top 0.01s; /* Animation to make the bar move to the top */
	z-index: 1000;
	/* Nav bar is always at the front */
}

/* Note to self. If nesting objects within other objects, use flex box to contain it within the nest obove */
.nav a {
	display: flex;
	/* Flex box magic. I love the flex box. GOATed fr*/
	align-items: center;
	/* VERTICALLY align items */
	height: 100%;
}

.nav a img {
	max-width: 100%;
	/* Restricts the image width to the width of the nav bar */
	height: 95%;
	max-height: 100%;
	/* Restricts the image height to the width of the nav bar */
	object-fit: contain;
	/* This line maintains the aspect ration of the image */
}

.nav-text {
	margin-left: auto;
	/* This will place a margin on the left side of the elements, forcing them on the right */
	display: flex;
	/*This is used to horizontally arrange elements */
	padding: 5px;
}

.nav-text li {
	list-style: none;
	/* Removes that pesky bullet */
}

.nav-text a {
	text-decoration: none;
	/*Removes the weird default design that HTML has. We need this to be fancy af */
	color: #3540ca;
	/*That prosper color pack, ya feel?*/
	margin-left: 20px;
	/*Adds 20px of spacing between each element*/
}

.nav-text a:link {
	color: #3540ca;
	/* Color for unvisited links */
}

.nav-text a:visited {
	color: #3540ca;
	/* Color for visited links */
}

.nav-text a:hover {
	color: #c9dcca;
	/* Color when the mouse hovers over the link */
	text-decoration: underline;
	/* Adds an underline when hovering */
}

.nav-text a:active {
	color: #000000;
	/* Color for active links (when clicked) */
}

/************* GENERAL TEXT STYLING ***************/


h1 {
	font-size: 32px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #0e1b05;
}

/************* TABLE STYLING ***************/

.table-wrapper {
	width: 95%;
	max-width: 95%;
	height: 600px;
	max-height: 600px;
	overflow: auto;
	font-size: 0.9 em;
	/* The em style will sets the font relative to the default font size the user has */

}

table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	/* Makes the borders collapse into a single border */
	border: 2px solid #c31f16;
	/* Border around the entire table */
	z-index: 2;
	/* Ensure that table is on top of the navbar */
}

th {
	position: sticky;
	/* Fix the location of the header row */
	padding: 0.45rem;
	background-color: #0c9658;
	top: 0;
	/* Ensures it sticks to the top */
	border: 3px solid black;
}

tr {
	border: 3px solid black;
	background-color: white;
}

td {
	text-align: left;
	padding: 0.45rem;
	border: 2px solid;
	border-right-color: blue;
}

table.alternate tr:nth-child(odd) {
	background-color: #888888;
}

table.alternate tr:nth-child(even) {
	background-color: #BBBBBB;
}

/*********************** ACCOUNT CREATION PAGE STYLING *****************/

.sign-up-wrapper {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	margin: auto;
	padding: 10px;
	border: 4px solid #3540ca;
	border-radius: 30px;
	box-shadow: 0 0 50px 0px rgb(0, 0, 0);
	/* Adds a subtle shadow for visual separation from content */
}

.fields-container {
	display: flex;
	/* Flex display for horizontal line-up */
	flex-wrap: wrap;
	/* Allows items to wrap as needed */
	/* gap: 10px; /* Spacing between elements */
	justify-content: space-between;
}

.pet-field-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 10px 0px 5px 1px;
	/* justify-content: space-between; */
}

.individual-text-field-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	flex-shrink: 1;
	align-items: flex-end;
	/* Center items vertically */
	position: relative;
	width: 100%;
	margin: 1px;
	/* max-width: 400px; */
}

.text-field {
	width: 100%;
	/* Consume all space */
	height: 52px;
	margin: 10px;
	/* Give a boy some space alright */
	padding: 8px;
	/* MAKE EM THICCCC (internally) */
	box-sizing: border-box;
	box-shadow: 0 0 3px 1px black;
	border-radius: 12px;
	font-size: 16px;
	border: 1.5px solid black;
	outline: none;

	transition:
		box-shadow 0.3s ease,
		border 0.3s ease;
}

.text-field:hover {
	box-shadow: 0 0 10px 1px black;
}

.text-field::placeholder {
	color: transparent;
	/* Hide default placeholder text */
}

.text-field:focus {
	outline: none;
	box-shadow: 0 0 12px 3px black;
	border: 2.5px solid var(--pLightBlue);
}

.text-field:not(:placeholder-shown) {
	border: 2.5px solid var(--pLightBlue);
	box-shadow: 0 0 12px 3px green;
}

.input-placeholder {
	position: absolute;
	bottom: 27.5px;
	/* Position the placeholder in the Vertically-center of the field */
	left: 25px;
	color: grey;
	font-size: 16px;
	font-weight: 400;
	text-overflow: ellipsis;
	border-radius: 15px;
	pointer-events: none;
	/* Disable user interaction and let clicks pass through it */
	transition:
		transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1),
		left 0.3s ease;
}

@media(max-width: 320px) {
	.input-placeholder {
		/*	left: 20px; */
		font-size: 15px;
	}
}


.text-field:focus+.input-placeholder {
	transform: translate(-5px, -26px);
	font-size: 12px;
	color: #275dc5;
	background-color: white;
	padding: 0px 8px 0px 8px;
	transition: transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1);
}


.text-field:not(:placeholder-shown)+.input-placeholder {
	transform: translate(-5px, -26px);
	font-size: 12px;
	color: #000;
	background-color: white;
	padding: 0 8px;
	/* Shout out to whatever legend created the transition animations for CSS. You da GOAT fr fr */
	transition: transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1);

}

.field-button {
	height: 30px;
	padding: 0px 10px 0px 10px;
	background-color: grey;
	border-radius: 10px;
	color: white;
}

.submit-button {
	height: 45px;
	padding: 0px 10px 0px 10px;
	background-color: #275dc5;
	border-radius: 12px;
	color: white;
}

.field-group-header {
	text-align: center;
	margin: 20px;
	font-size: 1.5em;
}

.image-field {
	padding: 10px 20px;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	opacity: 0;
}

.name-and-image-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	transition: height 0.3s ease, width 0.3s ease;
}

.pet-reg-header {
	font-size: clamp(16px, 3vw + 3px, 24px);
}

.image-upload-container {
	position: relative;
	border-radius: 50%;
	height: 30vw;
	width: 30vw;
	max-width: 150px;
	max-height: 150px;
	min-width: 100px;
	min-height: 100px;
	margin: 10px;
	left: 0px;
	cursor: pointer;
	transition:
		transform 0.3s ease,
		width 0.3s ease,
		height 0.3s ease,
		left 0.3s ease,
		margin 0.3s ease,
		box-shadow 0.3s ease;

}

.image-upload-container:hover {
	transform: scale(1.15);
	margin: 20px 10px 20px 10px;
	left: 15px;
	box-shadow: 0px 0px 9px 1px black;
}


@media(max-width: 400px) {
	.name-and-image-wrapper {
		flex-direction: column;
	}

}

.pet-reg-fine {
	font-size: 10px;
	text-align: center;
	margin: 5px 0 0 0;
}

.image-upload-label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* Ensures the label remains a circle */
	overflow: hidden;
	position: relative;
	border: 3px solid var(--pDarkBlue);

	background-size: cover;
	/* Ensures the uploaded image covers the entire area */
	background-position: center;
	/* Center the background image */
	background-repeat: no-repeat;
	/* Prevent the background image from repeating */
	transition: background-image 0.75s ease, box-shadow 0.3s ease;
}


.pencil-icon {
	position: absolute;
	padding: 3.5px 0px 0px 5.5px;
	height: 25px;
	width: 25px;
	bottom: 20px;
	right: 15px;
	color: black;
	border-radius: 50%;
	z-index: 1;
	background-color: #FCFBF4;
	box-shadow: 0px 0px 10px 1px #121212;
	font-size: 16px;
	transition: right 0.3s ease, bottom 0.3s ease;
}


@media(max-width: 475px) {

	.image-upload-container:hover {
		transform: scale(1);
		left: 0;
	}

	.pencil-icon {
		right: 10px;
		bottom: 10px;
	}
}

.optional-field-wrapper {
	display: flex;
	flex-wrap: wrap;
}

/************** DOMINO TRACKER STYLE *************/
.welcome-message-container-initial {
	background-color: var(--pDarkBlue);
	background-size: cover;
	background-position: center;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	z-index: 1001;
	top: -65px;
	position: relative;
	transition: height 1.7s cubic-bezier(0.64, 0.11, 0.1, 1.015);
}

.welcome-message-container {
	background-color: var(--pDarkBlue);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	transition: height 1.7s cubic-bezier(0.64, 0.11, 0.1, 1.015);
}

.welcome-message {
	padding: 10px;
	/* font-family: var(--font-heading-family); */
	font-size: clamp(2rem, 1rem + 5vw, 4rem);
	font-weight: bold;
	text-align: center;
	height: fit-content;
}


.pet-container {
	/* Display and dimensions */
	display: flex;
	flex-direction: column;
	height: auto;
	/* Start with a smaller height */
	width: 90%;
	margin: auto;
	margin-bottom: 70px;
	margin-top: 50px;
	justify-content: space-between;
	padding: 10px;
	overflow: hidden;

	/* Visual styling */
	background-color: white;
	/* box-shadow: 0 0 20px #000000; */
	border: 1.5px solid var(--pDarkBlue);
	border-radius: 10px;

	transition: height 0.8s ease, width 0.8s ease, transform 1s ease;
	/* Smooth transition */
}

#pet-container-1 {
	margin-top: 80px;
}

@media (max-width: 500) {
	#pet-container-1 {
		margin-top: 50px;
	}
}

.pet-image {
	position: absolute;
	z-index: 1;
	width: 150px;
	height: 150px;
	transform: translate(-35%, -45%);
	/* Use transform to include translate */
	object-fit: cover;
	/* Ensures the image covers the entire area without distortion */
	border-radius: 100px;
	/* Rounded corners */
	/* border: 3px solid var(--pDarkBlue); /* Dark blue border */
	/* box-shadow: 0 0px 2px 1px black; /* Light shadow for a subtle 3D effect */
	transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
}

.pet-image:hover {
	transform: scale(1.2) translate(-20%, -45%);
	/* Combine scale and translate in the transform property */
	cursor: pointer;
	box-shadow: 0 0px 5px 1px black;
	/* Enhanced shadow effect on hover */
}

@media (max-width: 900px) {
	#pet-container-1 {
		margin-top: 55px;
	}

	.pet-image {
		width: 120px;
		height: 120px;
		border-width: 2px;
		transform: translate(20% -45%);
	}
}

.tracker-pencil {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.pet-image:hover+.tracker-pencil {
	opacity: 1;
}

@media (max-width: 600px) {
	#pet-container-1 {
		margin-top: 55px;
	}

	.pet-image {
		width: 80px;
		height: 80px;
		border-width: 2px;
	}
}

.pet-header-container {
	padding: 15px;
	/* Display styling */
	display: flex;
	justify-content: center;
}

.pet-title {
	/* Positioning and dimensions */
	margin: 5px 0 10px 0;
	/* Add some space above and below the header */
	padding: 10px;
	/* Add some padding for better readability */

	/* Text Styling */
	font-size: 2.5em;
	/* Increase the font size */
	font-weight: 500;
	/* Make the text bold */
	text-align: center;
	/* Center align the text */
	color: black;
}

.pet-name {
	text-transform: uppercase;
	/* Make the text uppercase */
	font-weight: 600;
	color: var(--pDarkBlue);
	/* Dark blue color for the text */
	transition: font-size 0.3s ease;
}


@media (max-width: 600px) {
	.pet-header-container {
		padding: 10px 0;
	}

	.pet-title {
		font-size: 25px;
		padding: 0px;
	}

}




.test-header-container {
	display: flex;
	margin: 10px 0;
	align-items: center;
	justify-content: space-between;
}

.left-text {
	color: #303030;
	text-decoration: underline;
	font-size: clamp(24px, 6px + 3vw, 30px);
	font-weight: 600;
	flex: 1;
	text-align: left;
}

.left-text:first-letter {
	text-transform: uppercase;
}

.separator {
	width: 0px;
	background-color: black;
	margin: 0 10px;
	height: 30px;
	transition: width 0.3s ease;
}

.right-text {
	color: #3f3f3f;
	flex: 1;
	text-align: right;
	font-size: clamp(12px, 6px + 2vw, 18px);
}

@media (max-width: 800px) {
	.separator {
		width: 2px;
	}

	.left-text {
		text-align: center;
	}

	.right-text {
		text-align: center;
	}
}

.current-stage-text {
	text-align: center;
	padding: 10px;
	font-size: clamp(12px, 2vw, 20px);
}


.all-tests-container {
	transition: height 0.5s ease, overflow 0.5s ease;
	/* Smooth transition for height and overflow */
}

.estimation-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tracker-container {
	display: flex;
	position: relative;
	height: fit-content;
	width: 100%;
	justify-content: center;
	align-items: center;
	/*
	border-radius: 35px;
	border-width: 0px 7px 0px 7px;
	border-style: solid;
	border-color: var(--pDarkBlue);
	*/
}

.tracker-background {
	background-color: blue;
	height: 85px;
	width: 100%;
	position: absolute;
	/* Positioning will force elements to overlap */
}

.stages-container {
	display: flex;
	padding: 10px;
	height: 83;
	width: 95%;
	align-items: center;
}


.stages {
	position: relative;
	height: 100px;
	width: 15%;
	color: white;
	background-color: grey;
	border-width: 2px;
	border-style: solid;
	border-color: var(--coral);
	border-radius: 5px;
	/* transform: skew(-15deg, 0deg); */
	margin: -0.5px;
	overflow: hidden;
	/* Hide overflow to ensure the text appears inside */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: height 0.75s ease, width 0.75s ease;
}

.stage-name-text {
	color: white;
	font-size: clamp(12px, 1.5vw, 16px);
	;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 40%);
	opacity: 1;
	/* Initially hidden */
	transition: opacity 0.3s ease, transform 0.3s ease;
	white-space: nowrap;
	/* Prevent text from wrapping */
	background-color: rgba(0, 0, 0, 0.7);
	/* Optional: background to improve readability */
	padding: 5px 10px;
	/* Optional: padding for better appearance */
	border-radius: 5px;
	/* Optional: rounded corners */
}

.stage-emoji {
	font-size: 2em;
	/* Adjust size as needed */
	display: block;
	transform: translate(0, -40%);
	transition: transform 1s ease;
}

@media (max-width: 1000px) {

	.stages {
		height: 150px;
	}

	.stage-name-text {
		left: 0;
		transform: skew(0deg) rotate(-90deg) translate(-37%, 50%);
		transform-origin: left center;
	}

	.stages.active .stage-name-text {
		transform: rotate(90deg) translateX(-50%);
	}

	.stage-emoji {
		font-size: 25px;
		/* Adjust size as needed */
		transform: translate(50%, 0%);
	}
}

@media (max-width: 600px) {


	.stages {
		height: 200px;
	}

	.stage-name-text {
		transform: skew(0deg) rotate(-90deg) translate(-48%, 50%);
	}

	.stage-emoji {
		transform: translate(0%, -234%);
	}
}


.completed-stages {
	/* Visual styling */
	background-color: var(--pLightBlue);
	border-color: var(--pDarkBlue);
}

.active-stage {
	background-color: var(--pDarkBlue);
	margin-right: 2%;
	border-color: var(--pDarkBlue);
	animation: active-glow 5s infinite;
	will-change: box-shadow;
}


.stage-1 {
	flex: 1;
}

.stage-2 {
	flex: 2;
}

.stage-3 {
	flex: 2;
}

.stage-4 {
	flex: 1;

}

.stage-5 {
	flex: 1;

}


@media (max-width: 800px) {
	.active-stage {
		margin-right: 8%;
	}

	.stage-1,
	.stage-2,
	.stage-3,
	.stage-4,
	.stage-5 {
		flex: 1;
	}
}


.order-complete {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 550;
	text-decoration: none;
	width: fit-content;
	margin: 30px;
	padding: 10px 20px;

	/* Visiual styling */
	background-color: var(--pLightBlue);
	/* Bright green for the shine effect */
	border: 2px solid var(--pDarkBlue);
	/* Border to match the shine effect */
	border-radius: 16px;

	/* Text styling */
	color: black;
	text-align: center;

	/*	animation: glow-full 3s infinite; */

	transition: color 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

@media (max-width: 800px) {
	.order-complete {
		font-size: 4.5vw;
	}
}

.order-complete:hover {
	/* Visual Styling */
	background-color: var(--pDarkBlue);
	/* Bright green for the shine effect */
	border: 2px solid black;
	/* Border to match the shine effect */
	color: white;

	animation: none;

	/* Interactive propreties */
	/*	box-shadow: 0px 0 15px green, 0px 0 20px green; */
	animation: glow-full 2s infinite;
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.est-container {
	display: flex;
	justify-content: center;
}

.report-est {
	text-align: center;
	/* Center */
	padding: 10px;
	font-size: clamp(12px, 2vw, 20px);
}


.add-pet-button {
	width: 230px;
	/* padding: 2vw 2vw 2vw 2vw; */
	background-color: var(--pLightBlue);
	border: 1.5px solid var(--pDarkBlue);
	border-radius: 10px;
	font-size: 1em;
	text-decoration: none;
	color: black;
	text-align: center;
	transition: color 0.45s ease, background-color 0.45s ease, border 0.45s ease, box-shadow 0.35s ease;
	height: 50px;
	min-width: 200px;
	margin: auto;
}

.add-pet-button:hover {
	/* Visual styling */
	background-color: var(--pDarkBlue);
	border-color: var(--pLightBlue);
	border-radius: 15px;

	/* Text styling */
	color: white;
	box-shadow: 0 0 15px black;
}

@media (max-width: 825px) {
	.add-pet-button {
		font-size: 1.2rem;
		/* Increase font size for better readability */
		padding: 12px 24px;
		/* Increase padding for better touch interaction */
		width: 30%;
		/* Make the button take the full width on smaller screens */
	}
}

.add-pet-button-disabled {
	/* Dimentions and positioning */
	width: fit-content;
	padding: 2vw 2vw 2vw 2vw;


	/* Visual styling */
	background-color: grey;
	border: 3px solid var(--pDarkBlue);
	border-radius: 30px;

	/* Text styling  */
	font-size: 1em;
	text-decoration: none;
	color: black;
	text-align: center;

	transition: background-color 0.45s ease, border 0.45s ease, box-shadow 0.5s ease;
}

/********************** KIT ASSIGNMENT FORMS **************************/
.all-unassigned-kit-cells {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.unassigned-kit-cell {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: space-between;
	position: relative;

	height: auto;
	min-height: 250px;
	width: 49%;
	padding: 15px;

	/* Visual Styling */
	background-color: white;
	/* box-shadow: 0 0 20px #000000; */
	border: 2px solid var(--pDarkBlue);
	border-radius: 10px;
}

.pet-reg-background {
	position: fixed;
	/* Ensures the background covers the entire viewport */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	/* Semi-transparent background */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	z-index: 1000;
	/* Ensure the popup is on top of other elements */

	/* Initial display should be none */
	display: none;
}

.pet-reg-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: space-between;

	height: fit-content;
	max-height: 90%;
	padding: 15px;

	/* Visual Styling */
	width: 375px;
	background-color: white;
	box-shadow: 0 0 70px 7px #000000;
	border: 2px solid var(--pDarkBlue);
	border-radius: 10px;
	overflow: hidden;

	transition: width 0.5s cubic-bezier(0.64, 0.11, 0.1, 1.015), height 0.5s cubic-bezier(0.64, 0.11, 0.1, 1.015);

	/* Initial Dimensions */
}

@media(max-width: 535px) {
	.pet-reg-container {
		width: 70%;
	}

}

.red-circle {
	position: absolute;
	right: -10px;
	top: -10px;
	background-color: red;
	border: solid 1px white;
	border-radius: 50%;
	height: 25px;
	width: 25px;

	animation: blink 4.3s var(--ease2) infinite;
}



.kit-assignment-form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 100%;
}

@media (max-width: 825px) {
	.all-unassigned-kit-cells {
		justify-content: center;
		padding: 10px 2px 10px 2px;
	}

	.unassigned-kit-cell {
		width: 95%;
		margin: 5px;
	}

}

/*********************** IMAGE CAROUSEL STYLING ***********************/

/* carousel.css */
.carousel-container {
	position: relative;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	border: 2px solid #ddd;
	border-radius: 10px;
}

.carousel-slide {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-image {
	min-width: 100%;
	box-sizing: border-box;
}

.carousel-image img {
	width: 100%;
	border-radius: 10px;
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}

.prev-button:hover,
.next-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.break {
	/* Dimensions and positioning */
	margin: 15px 0 15px 0;
	height: 5px;
	background-color: var(--dark-primary);
	border: 1px solid black;

}

/**************************************************************** Dark mode styles ****************************************************/
/******* Unused CSS *******/

/*
.left-stage-container{
display: flex;
flex: 3
width: 20%;
}

.left-cap{
position: relative;
height: 100px;
width: 50%;
background-color: var(--pYellow);
border-width: 7px 0px 7px 8px;
border-style: solid;
border-color: var(--pDarkBlue);
border-radius: 40px 0px 0px 40px;
transform: skew(0deg, 0deg);
margin-right: -25px;
z-index: 1;
}

.right-stage-container{
display: flex;
width: 20%;
}

.right-cap{
height: 100px;
width: 30%;
background-color: var(--pYellow);
border-width: 7px 7px 7px 0px;
border-style: solid;
border-color: var(--pDarkBlue);
border-radius: 0px 8px 8px 0px;
transform: skew(-15deg, 0deg);
margin-left: -12px;
z-index: 1;
}


.est-end{
height: 10px;
width: 2px;
background-color: black;
}

.est-line{
height: 2px;
width: 10px;
background-color: black;
}
*/