/************* GLOBAL VARIABLES ***************/
:root {
	--background-color: #121212;
	/* Existing --dark-background */
	--foreground-color: #861414;
	/* Existing --dark-foreground */
	--primary-color: #03DAC6;
	/* Existing --dark-primary */
	--secondary-color: #BB86FC;
	/* Existing --dark-accent */
	--accent-color: var(--triadic-green);
	/* #3CB371 */
	--link-color: var(--primary-color);
	--link-hover-color: var(--secondary-color);
	--link-active-color: var(--foreground-color);
	--nav-background-color: #1F1F1F;
	/* Slightly lighter than background */
	--glow-color: #BB86FC;
	/* Adjusted for better visibility in dark mode */
	--glow-background-color: var(--secondary-color);
	--shadow-color: white;
	--shadow-background: rgba(255, 255, 255, 0.5);

	/* Other Colors */
	--pDarkGreen: #0E1B05;
	--coral: #FF6F61;
	--peach: #FFDAB9;
	--light-purple: #D1C4E9;
	--lavender: #E6E6FA;
	--triadic-yellow: #FFD700;
	--triadic-green: #3CB371;

	/* Fonts */
	--font-heading-family: 'brother-1816', sans-serif;
	--font-body-family: 'bilo', sans-serif;

	--ease2: cubic-bezier(0.64, 0.11, 0.1, 1.015);
}

/************ GLOBAL STYLING *****************/
body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

body * {
	animation: fall-in 0.75s ease;
}

/* Apply the fade-out animation to all elements with a specific class */
body.fade-out * {
	animation: fade-out 0.5s ease-in-out;
}

/************ GENERAL ANIMATIONS *************/
@keyframes active-glow {

	0%,
	100% {
		box-shadow: 10px 0 10px var(--glow-color), 15px 0 15px var(--glow-color),
			inset -4px 0 4px var(--glow-color), inset 100px 0 10px var(--glow-background-color);
	}

	50% {
		box-shadow: 3px 0 3px var(--glow-color), 5px 0 8px var(--glow-color),
			inset -1px 0 1px var(--glow-color), inset 1px 0 1px var(--glow-background-color);
	}
}

@keyframes glow-full {

	0%,
	100% {
		box-shadow: 0px 0 3px var(--glow-color), 0px 0 8px var(--glow-color),
			inset 0px 0 1px var(--glow-color);
	}

	50% {
		box-shadow: 0px 0 25px var(--glow-color), 0px 0 30px var(--glow-color),
			inset 0px 0 5px var(--glow-color);
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

/* Keyframes for the falling effect */
@keyframes fall-in {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Define keyframes for the fade-out effect */
@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/************* BASIC HTML RESET ***************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: var(--font-body-family);
}

/************* NAV BAR STYLING ***************/
#top-spacing {
	height: 65px;
}

.nav {
	display: flex;
	background-color: var(--nav-background-color);
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: 1000;
	border-bottom: solid 2px rgba(125, 125, 255, .9);
	box-shadow: 0 0 30px 0px rgb(50, 50, 255);

	overflow: hidden;
}

.home-link {
	height: 80%;
}

.nav-logo {
	max-width: 100%;
	height: 95%;
	max-height: 100%;
	border-radius: 50%;
	object-fit: contain;
	transition: background-color 0.2s var(--ease2), box-shadow 0.2s var(--ease2);
}

.nav-logo:hover {
	background-color: var(--shadow-background);
	box-shadow: 0 0 15px 1px var(--shadow-color);
	transition: background-color 0.3s var(--ease2), box-shadow 0.35s var(--ease2);
}

.nav-text {
	margin-left: auto;
	display: flex;
	padding: 5px;
}

.nav-text li {
	list-style: none;
}

.nav-text a {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: var(--link-color);
	margin-left: 20px;
}

.nav-text a:visited {
	color: var(--link-color);
}

.nav-text a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

.nav-text a:active {
	color: var(--link-active-color);
}

.account-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--link-color);
	margin-left: 10px;
	cursor: pointer;
}

.account-button:visited {
	color: var(--link-color);
}

.account-button:hover {
	color: var(--link-hover-color);
}

.account-button:active {
	color: var(--link-active-color);
}

.account-button .profile-picture {
	height: 30px;
	width: 30px;
	position: relative;
}

.account-button span {
	color: inherit;
}

/*********************** ACCOUNT CREATION PAGE STYLING *****************/

.sign-up-background {
	position: fixed;
	/* Ensures the background covers the entire viewport */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	/* Semi-transparent background */
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
	z-index: 1000;
	/* Ensure the popup is on top of other elements */

	/* Initial display should be none */
	display: none;
}

.sign-up-wrapper {
	background-image: url('../Assets/SlamDunk.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	margin: auto;

	border: 2px solid #3540ca;
	border-radius: 5px;
	box-shadow: 0 0 50px 0px rgb(0, 0, 0);

	/* Adds a subtle shadow for visual separation from content */
}

.account-fields-container {
	background-color: white;
	width: 45%;
	height: 100%;
	margin: 0 0 0 0px;
	padding: 15px;
}

.fields-container {
	display: flex;
	/* Flex display for horizontal line-up */
	flex-wrap: wrap;
	/* Allows items to wrap as needed */
	/* gap: 10px; /* Spacing between elements */
	justify-content: space-between;
}

.pet-field-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 10px 0px 5px 1px;
	/* justify-content: space-between; */
}

.individual-text-field-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	flex-shrink: 1;
	align-items: flex-end;
	/* Center items vertically */
	position: relative;
	width: 100%;
	margin: 1px;
	/* max-width: 400px; */
}

.text-field {
	width: 100%;
	height: 35px;
	margin: 5px;
	padding: 8px;
	box-sizing: border-box;
	/* box-shadow: 0 0 3px 1px black; */
	border-radius: 5px;
	font-size: 12px;
	border: 1.5px solid black;
	outline: none;
	transition: box-shadow 0.3s ease, border 0.3s ease;
}

.text-field:hover {
	box-shadow: 0 0 10px 1px black;
}

.text-field::placeholder {
	color: transparent;
	/* Hide default placeholder text */
}

.text-field:focus {
	outline: none;
	box-shadow: 0 0 12px 3px black;
	border: 2.5px solid var(--pLightBlue);
}

.text-field:not(:placeholder-shown) {
	border: 2.5px solid var(--pLightBlue);
	box-shadow: 0 0 12px 3px green;
}

.input-placeholder {
	position: absolute;
	bottom: 15px;
	/* Position the placeholder in the Vertically-center of the field */
	left: 25px;
	color: grey;
	font-size: 14px;
	font-weight: 400;
	text-overflow: ellipsis;
	border-radius: 15px;
	pointer-events: none;
	/* Disable user interaction and let clicks pass through it */
	transition:
		transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1),
		left 0.3s ease;
}

@media(max-width: 320px) {
	.input-placeholder {
		/*	left: 20px; */
		font-size: 15px;
	}
}


.text-field:focus+.input-placeholder {
	transform: translate(-5px, -15px);
	font-size: 11px;
	color: #275dc5;
	background-color: white;
	padding: 0px 8px 0px 8px;
	transition: transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1);
}


.text-field:not(:placeholder-shown)+.input-placeholder {
	transform: translate(-5px, -15px);
	font-size: 11px;
	color: #000;
	background-color: white;
	padding: 0 8px;
	/* Shout out to whatever legend created the transition animations for CSS. You da GOAT fr fr */
	transition: transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.15s cubic-bezier(.4, 0, .2, 1), background-color 0.15s cubic-bezier(.4, 0, .2, 1), font-size 0.5s cubic-bezier(.4, 0, .2, 1);

}

.field-button {
	height: 30px;
	padding: 0px 10px 0px 10px;
	background-color: grey;
	border-radius: 10px;
	color: white;
}

.submit-button {
	height: 45px;
	padding: 0px 10px 0px 10px;
	background-color: #275dc5;
	border-radius: 12px;
	color: white;
}

.button-disabled {
	height: 45px;
	padding: 0px 10px 0px 10px;
	background-color: gray;
	border-radius: 12px;
	color: white;
}

.field-group-header {
	text-align: center;
	margin: 20px;
	font-size: 1.5em;
}

.image-field {
	padding: 10px 20px;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	opacity: 0;
}

.name-and-image-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	transition: height 0.3s ease, width 0.3s ease;
}

.pet-reg-header {
	font-size: clamp(16px, 3vw + 3px, 24px);
}

.image-upload-container {
	position: relative;
	border-radius: 50%;
	height: 30vw;
	width: 30vw;
	max-width: 150px;
	max-height: 150px;
	min-width: 100px;
	min-height: 100px;
	margin: 10px;
	left: 0px;
	cursor: pointer;
	transition:
		transform 0.3s ease,
		width 0.3s ease,
		height 0.3s ease,
		left 0.3s ease,
		margin 0.3s ease,
		box-shadow 0.3s ease;

}

.image-upload-container:hover {
	transform: scale(1.15);
	margin: 20px 10px 20px 10px;
	left: 15px;
	box-shadow: 0px 0px 9px 1px black;
}


@media(max-width: 400px) {
	.name-and-image-wrapper {
		flex-direction: column;
	}

}

.pet-reg-fine {
	font-size: 10px;
	text-align: center;
	margin: 5px 0 0 0;
}

.image-upload-label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* Ensures the label remains a circle */
	overflow: hidden;
	position: relative;
	border: 3px solid var(--pDarkBlue);

	background-size: cover;
	/* Ensures the uploaded image covers the entire area */
	background-position: center;
	/* Center the background image */
	background-repeat: no-repeat;
	/* Prevent the background image from repeating */
	transition: background-image 0.75s ease, box-shadow 0.3s ease;
}


.pencil-icon {
	position: absolute;
	padding: 3.5px 0px 0px 5.5px;
	height: 25px;
	width: 25px;
	bottom: 20px;
	right: 15px;
	color: black;
	border-radius: 50%;
	z-index: 1;
	background-color: #FCFBF4;
	box-shadow: 0px 0px 10px 1px #121212;
	font-size: 16px;
	transition: right 0.3s ease, bottom 0.3s ease;
}


@media(max-width: 475px) {

	.image-upload-container:hover {
		transform: scale(1);
		left: 0;
	}

	.pencil-icon {
		right: 10px;
		bottom: 10px;
	}
}

.optional-field-wrapper {
	display: flex;
	flex-wrap: wrap;
}